// 导航栏样式

.nav {
    width: 100%;
    height: 60px;
    padding-left: 100px;
    background-color: #3b3b3b;
    input {
        width: 120px;
        height: 30px;
        margin: 18px 25px 0px;
        padding: 8px;
        border: 0;
        border-radius: 5px;
        transition: all 0.6s;
        &:focus {
            width: 200px;
        }
    }
    button {
        width: 30px;
        height: 30px;
        margin: 0px 10px;
        padding: 0;
        border: 0;
        border-radius: 5px;
        vertical-align: middle;
        background-color: #f5f5f5;
    }
    .new-article {
        padding-top: 2px;
    }
    .del-article {
        padding-top: 1px;
    }
    .down-article {
        padding-top: 3px;
        padding-left: 2px;
    }
    .undo {
        padding-top: 1px;
    }
    .redo {
        padding-top: 1px;
    }
    .show-double {
        padding-top: 2px;
    }
    .show-editor {
        padding-top: 1px;
        padding-left: 3px;
    }
    .show-preview {
        padding-top: 1px;
    }
    .show-tips {
        display: block;
        float: right;
        width: 40px;
        height: 40px;
        margin: 10px 40px 0 0;
        padding-top: 4px;
        border-radius: 5px;
        text-align: center;
        background-color: #f5f5f5;
        cursor: pointer;
    }
}

// 语法提示区
.tips {
    position: absolute;
    top: 15px;
    right: 100px;
    width: 380px;
    height: 600px;
    padding: 8px;
    border-radius: 5px;
    background-color: #fcfcfc;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    z-index: 99;
    overflow: auto;
    h2, h3 {
        text-align: center;
    }
    a {
        display: block;
        text-align: center;
        text-decoration: none;
    }
    li {
        margin-top: 8px;
    }
}