// 预览区样式
#preview {
    float: right;
    height: 100%;
    padding: 5px;
    padding-left: 20px;
    color: #3b3b3b;
    overflow: auto;
    // 预览区文本样式
    a {
        text-decoration: none;
        color: #0645ad;
    }
    a:visited {
        color: #0b0080;
    }
    a:hover {
        color: #06e;
    }
    a:active {
        color: #faa700;
    }
    a:focus {
        outline: thin dotted;
    }
    a:hover, a:active {
        outline: 0;
    }
    p {
        margin: 1em 0;
    }
    img {
        max-width: 100%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        line-height: 1em;
        color: #111;
    }
    h4, h5, h6 {
        font-weight: bold;
    }
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
        padding-bottom: 5px;
        border-bottom: 1px solid silver;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1em;
    }
    h6 {
        font-size: .9em;
    }
    blockquote {
        margin: 0;
        padding-left: 3em;
        color: #666;
        border-left: .5em #eee solid;
    }
    hr {
        display: block;
        height: 2px;
        margin: 1em 0;
        padding: 0;
        border: 0;
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #eee;
    }
    ul, ol {
        margin: 1em 0;
        padding: 0 0 0 2em;
    }
    li p:last-child {
        margin: 0;
    }
    dd {
        margin: 0 0 0 2em;
    }
    img {
        vertical-align: middle;
        border: 0;
    }
    table {
        border-spacing: 0;
        border-collapse: collapse;
    }
    td, th {
        padding: 4px 10px;
        vertical-align: top;
        border: 1px solid #bbb;
    }
    tr:nth-child(even) td, tr:nth-child(even) th {
        background: #eee;
    }
    pre, code{
      color: #000;
      font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
      font-size: 0.94em;
      border-radius:3px;
      background-color: #F8F8F8;
      border: 1px solid #CCC;
  }
  pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 5px;
}
pre code {
    border: 0px;
    background: transparent;
    line-height: 1.3em;
}
code {
    padding: 0 3px;
}
}