// CSS sprite图标

@mixin icon($position, $width, $height) {
    display: inline-block;
    background-image: url(./img/background/sprite.png);
    background-position: $position;
    width: $width;
    height: $height;
}

.icon-arrow_left {
    @include icon(0px 0px, 48px, 48px);
}
.icon-arrow_right {
    @include icon(-48px 0px, 48px, 48px);
}
.icon-code {
    @include icon(-32px -63px, 31px, 23px);
}
.icon-del {
    @include icon(-48px -95px, 24px, 24px);
}
.icon-double {
    @include icon(-63px -63px, 26px, 23px);
}
.icon-download {
    @include icon(-96px -24px, 24px, 24px);
}
.icon-editor {
    @include icon(-120px -96px, 24px, 23px);
}
.icon-heading {
    @include icon(-96px -48px, 24px, 24px);
}
.icon-img {
    @include icon(0px -95px, 24px, 24px);
}
.icon-italic {
    @include icon(-24px -95px, 24px, 24px);
}
.icon-line {
    @include icon(-50px -48px, 31px, 14px);
}
.icon-link {
    @include icon(-96px 0px, 24px, 24px);
}
.icon-add {
    @include icon(-96px -94px, 24px, 25px);
}
.icon-ol {
    @include icon(-120px 0px, 24px, 24px);
}
.icon-preview {
    @include icon(0px -119px, 30px, 18px);
}
.icon-quote {
    @include icon(-96px -72px, 24px, 22px);
}
.icon-redo {
    @include icon(-120px -48px, 24px, 24px);
}
.icon-strong {
    @include icon(-120px -24px, 24px, 24px);
}
.icon-tips {
    @include icon(0px -63px, 32px, 32px);
}
.icon-ul {
    @include icon(-72px -95px, 24px, 24px);
}
.icon-undo {
    @include icon(-120px -72px, 24px, 24px);
}
